<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <table class="job-listing" th:each="ID : ${jobs}">
        <tbody>
        <tr>
            <td th:text="ID"/>
            <td th:text="${ID.id}"/>
        </tr>
        <tr>
            <td th:text="Name"/>
            <td th:text="${ID.name}"/>
        </tr>
        <tr>
            <td th:text="Employer"/>
            <td th:text="${ID.employer}"/>
        </tr>
        <tr>
            <td th:text="Location"/>
            <td th:text="${ID.location}"/>
        </tr>
        <tr>
            <td th:text="'Position Type'"/>
            <td th:text="${ID.positionType}"/>
        </tr>
        <tr>
            <td th:text="Skill"/>
            <td th:text="${ID.coreCompetency}"/>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>